.dropdown-menu {
  padding: 5px;
}

.dropdown-menu-option:hover {
  background: #215184;
  color: #fff;
}

.dropdown-menu-option {
  cursor: pointer;
}
.dropdown-toggle {
  cursor: pointer;
   -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.chart {
    display: flex;
    flex-direction: column;
	padding-top: 15px; 
}

.state-inner {
  fill: none;
}

.state-inner path:hover {
    fill: orange;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
  cursor: pointer;
}

.arc path {
  stroke: #fff;
}

.arc path:hover {
  fill: brown;
  cursor: pointer;
}

.pie-axis line,
.pie-axis path {
    display: none;
}
/* d3-tip styles*/
.tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips specifically */
.tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}

/* Navigation Bar */
.show {
    display: block;
}

#bookPos {
  margin-top: 10px;
}

/* Title Banner Component */
.title-banner {
  width: 100%;
  height: 125px;
  background-color:#3B92CF;
  padding: 0 30px;
  box-sizing: border-box;
}

.header-title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
}

.header-title h1 {
  margin: 0;
  color: white;
  line-height: 1;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .title-banner {
    height: 150px;
    padding: 0;
  }

  .header-title {
    width: 300px;
  }

  .header-title h1 {
    font-size: 28px;
  }

  .header-title h1 span {
    font-size: 46px;
    font-weight: 500;
  }
}

/* Map Graphic Component */
.map-container {
}

.map-graphic-container, .map-control-container {
  height: 250px;
  box-sizing: border-box;
  border: 1px solid red;
}

.map-control {
  width: 100%;
}

.map-control h3 {
  margin: 0;
}

/* Data Container Component */
.pie-graph-container {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  border: 1px solid green;
}

.bar-graph-container {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  border: 1px solid green;
}