

.chart {
    display: flex;
    flex-direction: column;
	padding-top: 15px; 
}

.state-inner {
  fill: none;
}

.state-inner path:hover {
    fill: orange;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
  cursor: pointer;
}

.arc path {
  stroke: #fff;
}

.arc path:hover {
  fill: brown;
  cursor: pointer;
}

.pie-axis line,
.pie-axis path {
    display: none;
}
/* d3-tip styles*/
.tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips specifically */
.tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}

/* Navigation Bar */
.show {
    display: block;
}

