/**
 * Basics
 */
a {
}

a:hover,
a:focus {
  text-decoration: none;
  background-color: #f6f6f6;
}

/*h1, h2 {
  font-family: "Ostrich Sans Black", Arial, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 400%;
  text-shadow: 0 1px 2px rgba(255,255,255,0.75);
  margin-bottom: 0.25em;
}

h2 {
  font-size: 200%;
  margin-top: 2em;
}

h3 {
  font-size: 150%;
  margin-top: 1em;
  font-weight: normal;
}
*/
body {
  background-color: #f3f3f3;
  color: #272D33;
  font-size: 16px;
  line-height: 20px;
}

.row-fluid .offset1 {
  margin-left: 6.382978723%;
}


/**
 * The overview
 */
.overview {
  padding: 75px 0 30px;
  
  background: #EFF6F9;
  border-bottom: solid 1px #D7E9EF;
  
    background-image: -moz-linear-gradient(top,  rgba(193,227,242,0) 0%, rgba(193,227,242,0.2) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(193,227,242,0)), color-stop(100%,rgba(193,227,242,0.2))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  rgba(193,227,242,0) 0%,rgba(193,227,242,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  rgba(193,227,242,0) 0%,rgba(193,227,242,0.2) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  rgba(193,227,242,0) 0%,rgba(193,227,242,0.2) 100%); /* IE10+ */
    background-image: linear-gradient(top,  rgba(193,227,242,0) 0%,rgba(193,227,242,0.2) 100%); /* W3C */
    background-repeat: no-repeat;
}

  .overview .logo {
    /*overflow: hidden;
    text-indent: 9999px;
    white-space: nowrap;
    max-width: 520px;
    height: 410px;
    
    background-image: url("../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;*/
  }
  
  .overview .hero-unit {
    text-align: right;
    padding: 10%;
    text-shadow: 0 1px 0 #fff;
    
    background-color: transparent;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
  }
  
  
  

  
  .overview .intro {
    font-size: 120%;
    line-height: 1.3;
    padding-top: 1.25em;
    
  }
  
  .overview .how-it-works {
    padding: 15px;
    background-color: rgba(255,255,255,0.5);
    margin-bottom: 20px;
    
    border: solid 1px #fff;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.15);
    -o-box-shadow: 0 0 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.15);
    -ms-box-shadow: 0 0 5px rgba(0,0,0,0.15);
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
  }
  
  .overview .how-it-works h3 {
    margin-top: 0;
  }

@media (max-width: 767px) {
  .overview .logo {
    max-width: 260px;
    height: 215px;
  }
}

.example {
  
 
}

  .example .map {
    width: 600px; 
    height: 390px;
    
  }
  
  .example .results {
    
    background-color: #FF6E6E;
    color: #111;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    width: 360px;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    
    font-size: 20px;
    
  }
  
  .example .results h5 {
     color: rgba(0,0,0,0.5);
     font-size: 15px;
     text-transform: uppercase;
     padding-right: 0.25em;
     text-shadow: 0 -1px 0 rgba(255,255,255,0.3); 
  }



/**
 * The content
 */
.multiarticles {
   border-top: solid 1px #fff;
}
  .multiarticles article {
    padding-top: 2.5em;
    padding-bottom: 1.5em;
    
  }
  

article { }
  
  article h2 {
    margin: 2.5em 0 1em;
  }
  
  article h3 {
    margin: 1.5em 0 0.5em;
  }


#demo h2 {
  margin: 0;
}

/**
 * Site footer
 */
.site-footer {
  font-size: 80%;
  padding-top: 2em;
  padding-bottom: 2em;
  
}



/**
 * Pretty print
 */
pre.prettyprint {
  padding: 10px;
  
  border-color: #E8F2F7;
  
  text-shadow: 0 -1px 0 rgba(255,255,255,0.3);
  

}


.with-icon:before {
  vertical-align: top;  
  display: inline-block;
  position: relative;
  left: -5px;
  top: -1px;
  margin-bottom: -5px;
}
  .with-icon-github:before {
    content: url("../img/github-icon.png");
  }
  
  .with-icon-download:before {
    content: url("../img/download-icon.png");
  }


.features {
    margin: 0;
  }
  
  .features li {
    font-weight: 200;
    font-size: 90%;
    line-height: 1.5;
    
    display: block;
    list-style: none;
    position: relative;
    padding-left: 40px; 
    padding-bottom: 10px;
    padding-right: 10px;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    
    float: left;
    width: 50%;
  }
  
  .features li:nth-child(odd) {
    clear: left;
  }
  
  .features li:before {
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
  }

  .features .paint:before {
    content: url("../img/paint.png");
  }
  
  .features .svg:before {
    content: url("../img/svg.png");
  }
  
  .features .jquery:before {
    content: url("../img/jquery.png"); 
  }
  
  .features .heat-map:before {
    content: url("../img/heat-map.png"); 
  }


.page-header { 
  border-bottom-color: #eee;
  padding-bottom: 0.5em;
}
  .page-header h1 {
    font-size: 300%;
    color: #505050;
    text-shadow: 0 -2px 0 #fff;
  }
  
  
  .page-header nav {
    margin-top: 0.5em;
  }
  

.nav {
  margin-bottom: 0;
}

  .nav > li > a:hover {
    background-color: #ddd;
  }


.data-def {
  padding: 0.5em;
  background-color: rgba(0,0,0,0.01);
}

  .data-def h4 {
    margin-bottom: 0;
    font-size: 1em;
    color: rgba(0,0,0,0.65);
    text-shadow: 0 -1px 0 rgba(255,255,255,0.75);
  }
  
  .data-def dl {
    margin: 0;
  }
  
  .data-def dt {
    margin-top: 0.5em;
  }
  
  .data-def dd {
    margin: 0;
  }
  
  .data-def dt small {
    color: #999;
    font-size: 90%;
    font-weight: normal;
  }
  

.btn {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.window {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
}

.chart {
    display: flex;
    flex-direction: column;
}

.state-inner {
  fill: none;
}

.state-inner path:hover {
    fill: orange;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
  cursor: pointer;
}

.arc path {
  stroke: #fff;
}

.arc path:hover {
  fill: brown;
  cursor: pointer;
}

.pie-axis line,
.pie-axis path {
    display: none;
}
/* d3-tip styles*/
.tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips specifically */
.tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}

/* Navigation Bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}